<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns= "https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
    xsi:scemaLocation= "https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version = "5.0"
    metadata-complete = "false"
>
    <diplay-name>Welcome to Tomcat</diplay-name>
    <description>Welcome to Tomcat</description>


